html,
body {
    max-height: 100%;
}

.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.profile-picture {
    border-radius: 50%;
    border: 1px solid #c2c3c4;
    width: 30%;
    height: 30%;
}

.link-grid {
    border-spacing: 20px;
    margin: auto;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: inherit;
}

a i.fa {
    display: block;
    font-style: normal;
    text-align: center;
}
